@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body {
font-size: 1.00rem;
background: linear-gradient(68.15deg, #383737 16.62%, #dbd7d7 85.61%);

}

.cabecalho {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1.00rem;
        
    }

    .cabecalho-imagem {
    height: 5.0rem;

    }
.cabecalho-menu {
    display: flex;
    gap: 2.2rem;
    
}
.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 2.00rem;
    font-size: 2.0rem;

}

.conteudo {
    padding-top: 1.8rem;
    margin-bottom: 2.0rem;
    border-top: 0.2rem solid #FFF2E7;
   
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: space-around;
    
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 4.0rem;
    font-size: 4.0rem;
    color: #FFF2E7;
    
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 4.00rem;
    font-size: 1.4rem;
    color: #FFF2E7;
    
}

.conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 185px;
    height: 60px;
    border: rgb(17, 13, 13);
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-top: 0.4rem;
    font-family: 'Sarala', sans-serif;
    font-weight: 4.00rem;
    font-size: 2.5rem;
    color: #2F2325;
    
}

.conteudo-principal-escrito-botao:hover {
   background-color: rgba(236,214,196,0.53);
   color: #FFF;
   font-weight: bold;
   border-color: #B1B1B1;
}

.conteudo-principal-imagem {
    height: 20rem;
}


.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.0rem;
    margin-top: 2rem;

}

.conteudo-secundario-titulo {
    border-top: 0.2rem solid #FFF2E7;
    padding-top: 1.8rem;
    font-family: 'Righteous', cursive;
    font-weight: 4.00rem;
    font-size: 3.0rem;
    color: #FFF2E7;
    margin-bottom: 2rem;

}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 2.00rem;
    font-size: 1.0rem;
    color: #ECD6C4;

}

.rodape{
    padding: 2.2rem;
    border-top: 00.2rem solid #FFF2E7;
    
}

.rodape-imagem {
    height: 3.0rem;
    display: block;
    margin: 0 auto;
  
}

@media (max-width: 800px) {
    
.conteudo-principal-imagem{
    display: flex;
    grid-template-columns: 1fr;
    gap: 40px;
}
}
a:link {

    background: #706b6b;
    color: rgb(223, 205, 205);
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    font-family: 'Sarala', sans-serif;
    font-weight: 2.00rem;
    font-size: 1.5rem;
}
